html, body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 20px auto;
}

#map-container {
  height: 500px;
  width: 50%;
}

#map {
  height: 100%;
}

.left-column,
.right-column {
  width: 45%; /* Adjust the width as needed */
}

.astronaut-image {
  width: 100px;
  height: auto;
}

#chat-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

section {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
